body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px; /* Adjust the max-width as needed */
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  color: #666;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.product-list, .shopping-cart {
  margin-bottom: 20px;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.product-name, .product-price {
  margin: 0;
}

.add-to-cart {
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.add-to-cart:hover {
  background-color: #4cae4c;
}

.cart-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.total {
  font-weight: bold;
  text-align: right;
  margin-top: 10px;
}

.generate-receipt {
  background-color: #0275d8;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.generate-receipt:hover {
  background-color: #025aa5;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .product {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-price,
  .add-to-cart {
    margin-top: 5px;
  }
}
